html,
body {
  font-family: Helvetica, Arial, sans-serif !important;
}

.flex {
  display: flex;
}

/* CONATAINER */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

/* Header Banner */
.header-banner img {
  width: 100%;
}


/* NAVBAR DROPDOWN */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 270px;
  padding: 10px 0;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
  border: solid 1px #dfe3e9;
  top: 25px;

}

#dropdown-link {
  padding: 20px 0;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar Top */


.navbar-top {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.outer-links a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  color: #8d94ad;
  text-decoration: none;
  transition: all 0.3s;
}

.outer-links a:hover {
  color: #ca1016;
}

.navbar-contact a {
  color: #000;
}

.navbar-contact a:hover {
  color: #ca1016;
}

#navbar-lang {
  transition: all 0.3s;
  padding-left: 50px;
  color: #8d94ad;
}

#navbar-lang:hover {
  color: #ca1016;
}

.navbar-links a:hover {
  color: #f5cecd;
}

.navbar-contact {
  padding-left: 120px;
}

.navbar-login-fav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-fav {
  margin-right: 22px;
}

.navbar-login-fav i,
.navbar-login-fav a {
  color: #8d94ad;
  font-size: 18px;
  margin: 0 5px;
}


.navbar-fav a:hover .fa-heart,
.navbar-fav a:hover {
  color: #ca1016 !important;
}

.navbar-login a:hover .fa-circle-user,
.navbar-login a:hover {
  color: #ca1016 !important;
}


/* Navbar Bottom */


.navbar-bottom {
  background-color: #ca1016;
  color: #fff;
}

.navbar-bottom a {
  color: #fff;
}

.navbar-logo a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.navbar-bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar-links {
  padding-right: 370px;
}

.navbar-links a {
  padding-right: 20px;
  transition: all 0.3s;
}

.navbar-advs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ed321;
  height: 40px;
  border-radius: 7px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.4s;
}

.navbar-advs:hover {
  background-color: #6bb41c;
}


/* Main Section */
.main-section {
  background-color: #f6f7fa;
}


/* Search Section */

.search-catalogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.price-section {
  display: flex;
  margin: 10px 0;
  color: #8d94ad;

}

#minumumInput {
  padding: 10px 0;
  width: 112px;
  font-size: 15px;
  padding-left: 8px;
  font-weight: 500;
  border-radius: 7px 0 0 7px;
  outline-color: #8d94ad;
  border: 1px solid #8d94ad;
}

#maxiumumInput {
  padding: 10px 0;
  width: 112px;
  padding-left: 8px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0 7px 7px 0;
  outline-color: #8d94ad;
  border: 1px solid #8d94ad;
}

/* 
.search-section-padding {
  padding-right: 5px;
} */

.currency-credit {
  padding-top: 10px;
}
#color-option {
  display:none;
  visibility: hidden;
}
#currency {
  margin-right: 10px;
  width: 65px;
  height: 43px;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}
.kredit label ,
.barter label {
  padding: 18px;
}
.kredit,
.barter {
  width: 60px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #8d94ad;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.kredit {
  margin-right: 20px;
  margin-left: 20px;
 
}

.kredit input,
.barter input {
  display: none;
  visibility: hidden;
  cursor: pointer;
  transform: scale(4.3);
  margin-left: 50px;
}


#brands {
  width: 245px !important;
}

#models {
  width: 235px;

}

#color {
  padding: 80px !important;
}

#city {
  padding: 80px !important;
}

.search-section-1 {
  margin-bottom: 3px;
}

.search-section-2 {
  margin-bottom: 10px;
}




.search-catalogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  vertical-align: middle;
}

.price-section {
  display: flex;
  margin: 10px 0;
  color: #8d94ad;

}

/* section-4 */
.search-section-4 {
  display: flex;
  width: 230px;
  flex-wrap: wrap;
}

.search-section-4 input {
  width: 103px;
  margin-top: 20px;
  padding: 10px 0;
  border: 1px solid #8d94ad;
  padding-left: 5px;
  outline-color: #8d94ad;
}

.search-section-4 input[id="minumumYear"] {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.search-section-4 input[id="maximumYear"] {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

/* Search Section */
.search-buttons {
  text-align: right;
  margin-right: 15px;
}

.search-buttons button {
  background-color: transparent;
  color: crimson;
  border: none;
  outline: none;
}

.search-buttons button span {
  cursor: pointer;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.search-catalogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.price-section {
  display: flex;
  margin: 10px 0;
  color: #8d94ad;

}

#sifirla {
  margin: 10px;
  border: none;
  background-color: #f9f9f9;
  color: #ca1016;
  font-size: 18px;
}

#filtir {
  margin: 10px;
  border: none;
  background-color: #f9f9f9;
  color: #ca1016;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#search {
  margin: 10px;
  border: none;
  color: #fff;
  background-color: #ca1016;
  padding: 12px 40px;
  border-radius: 5px;
}

/* Select options */


.select2-container--default .select2-selection--single {
  height: 38px !important;
  border-radius: 8px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  padding: 6px !important;


}


/* Cards */
/* Icons */

#crediticon {
  width: 25px !important;
  height: 25px !important;
  position: absolute !important;
  cursor: pointer;
  left: 10px;
  top: 5px;
}

#bartericon {
  width: 25px !important;
  height: 25px !important;
  position: absolute !important;
  cursor: pointer;
  left: 35px;
  top: 5px;
}

#onlybartericon {
  width: 25px !important;
  height: 25px !important;
  position: absolute !important;
  cursor: pointer;
  left: 10px;
  top: 5px;
}

#today {
  float:left;
  padding-left: 20px;
  padding-top: 20px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 auto;
}


.card-1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px auto;
  border-radius: 5px;
  transition: .8s;
  padding: 0 0 10px 0;
  position: relative;

}

.card-1:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-1 h2 {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px 0 10px 10px;
  color: #000;
}

.card-1 h3 {
  color: #2b2d33;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  padding: 0 0 10px 10px;
  text-transform: capitalize;
}

.card-1 span {
  color: #2b2d33;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  padding: 10px 0 10px 10px;
  margin-right: -10px;
}



#cards img {
  width: 230px;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;


}

.search-section-3 {
  margin-bottom: 20px;
}


/* new-or-old */
.new-or-old {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
  width: 220px;
  user-select: none;

}

.new-and-old {
  border: 1px solid #dedede;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d2d0d0ac;
  border-radius: 6px 0 0 6px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.new-and-old input {
  display: none;
  cursor: pointer;
}

.new-and-old label {
  padding-left: 10px;
  cursor: pointer;
}

.new {
  width: 60px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d2d0d0ac;
  text-align: center;
  cursor: pointer;
  display: flex;
  border: 1px solid #dedede;
  align-items: center;
  justify-content: space-between;
}

.new input {
  display: none;
  cursor: pointer;
}

.new label {
  padding-left: 10px;
  cursor: pointer;
}

.old {
  width: 100px;
  border: 1px solid #d2d0d0ac;
  height: 40px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  text-align: center;
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.old input {
  display: none;
  cursor: pointer;
}

.old label {
  padding-left: 10px;
  cursor: pointer;
}






/* all-footer-top */
.all-footer-top {
  padding: 10px 0 10px;
  border-top: 3px solid #eaebf2;
  border-bottom: 3px solid #eaebf2;
}

/* .footer-top-container */
.footer-top-container {
  width: 70%;
  margin: 0 auto;
}

/* footer-top-contact */
.footer-top-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer-top-link */
.footer-top-link a {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: 400;
  color: #212c3a;
  transition: .5s;
}

.footer-top-link a:hover {
  color: red;
}

/* footer-contact */
.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* social-media */
.social-media a i {
  padding-left: 15px;
  font-size: 20px;
  color: #212c3a;
  transition: .5s;
}

.social-media a i:hover {
  color: red;
}

/* footer-mail */
.footer-mail a {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #212c3a;
  transition: .5s;
  padding-left: 15px;
}

.footer-mail i {
  padding-right: 5px;
}

.footer-mail a:hover {
  color: red;
}

/* all-contact */
.all-contact ul {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-contact ul {
  font-size: 15px;
  color: #212c3a;
  transition: .5s;
}

.all-contact ul:hover {
  color: red;
}

/* phone-number */
.phone-number p {
  padding-left: 10px;
}

.phone-number a {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #212c3a;
  transition: .4s;
}

.phone-number a:hover {
  color: red;
}


/* all-footer-main*/
.all-footer-main {
  border-top: 3px solid #eaebf2;
}

/* footer-container */
.footer-container {
  width: 70%;
  margin: 0 auto;
}

/* footer-main */
.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px;
}

/* footer-main-link */
.footer-main-link a {
  color: black;
  transition: .5s;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-right: 20px;
}

.footer-main-link a:hover {
  color: red;
}

/* all-footer-bottom */
.all-footer-bottom {
  background-color: red;
  padding: 20px 0 20px;
}

/* footer-bottom-container */
.footer-bottom-container {
  width: 70%;
  margin: 0 auto;
}

/* footer-bottom */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer-information */

.footer-information p {
  width: 450px;
  font-size: 15px;
  color: white;
  line-height: 20px;
}

/* footer-bottom-link */
.footer-bottom-link {
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-bottom-link p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;

}

.footer-bottom-link a {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  transition: .5s;
}

.footer-bottom-link a:hover {
  text-decoration: underline;
}